select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.25rem;
}

.dropdownContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.countryList {
    width: 25%;
}

@media (max-width: 600px) {
    .dropdownContainer {
        flex-direction: column;
    }
    select {
        width: 75% !important;
    }
}